/***************
SASS VARIABLES
***************/
h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 320px; }

a {
  color: #578EC2; }

.button {
  border-color: #578EC2;
  color: #578EC2; }

.button.hollow {
  border-color: #578EC2;
  color: #578EC2; }

/**************************
PARTIALS
**************************/
.nav-wrapper {
  background-color: #3C3C3C;
  width: 100%;
  position: relative;
  height: 75px;
  color: #878787;
  font-size: 14px;
  font-weight: 500; }
  .nav-wrapper .nav-active {
    color: white; }
  .nav-wrapper a {
    color: #878787; }
    .nav-wrapper a:hover {
      color: #fff; }
  .nav-wrapper .top-bar {
    height: 100%;
    width: 100%; }
  .nav-wrapper .nav-title {
    width: 175px;
    padding: 15px 20px;
    height: 100%;
    float: left;
    line-height: normal; }
    .nav-wrapper .nav-title .title {
      color: white;
      font-size: 22px;
      font-weight: bold; }
  .nav-wrapper .nav-left {
    height: 100%;
    padding: 15px; }
  .nav-wrapper .nav-right {
    height: 100%;
    float: right;
    padding: 13px 0;
    margin-right: 20px; }
  .nav-wrapper .profile-pic {
    border-radius: 50%;
    border: 3px solid #878787;
    height: 50px;
    width: 50px;
    margin-left: 10px; }
    .nav-wrapper .profile-pic:hover {
      border: 3px solid white;
      cursor: pointer; }
    .nav-wrapper .profile-pic img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
  .nav-wrapper .insight-small-nav {
    outline: none; }
    .nav-wrapper .insight-small-nav a:focus {
      outline: none; }
    .nav-wrapper .insight-small-nav .insight-dropdown-nav a:hover {
      color: #3C3C3C; }

.nav-page-title {
  height: 50px;
  border-bottom: 1px solid #3C3C3C;
  text-align: center;
  font-size: 14px;
  font-weight: 500px;
  padding: 15px; }

/*********************
PARAMS
*********************/
@media screen and (max-width: 673px) {
  .insight-medium-nav {
    display: none !important; }

  .insight-small-nav {
    display: inline-block !important; } }
.content-header {
  height: 60px;
  border-bottom: 1px solid #878787;
  padding: 18px 0;
  position: relative; }
  .content-header .content-title {
    float: left; }
    .content-header .content-title span {
      font-weight: 500; }
  .content-header .content-actions {
    float: right; }
    .content-header .content-actions a {
      font-weight: 500; }
    .content-header .content-actions i {
      font-size: 21px;
      margin-left: 20px;
      position: relative;
      top: 3px; }

.content-filter {
  width: 100%;
  margin-top: 15px; }
  .content-filter .top-filter {
    height: 50px;
    width: 100%; }
    .content-filter .top-filter .filter-title {
      float: left;
      padding: 5px 0; }
    .content-filter .top-filter .filter-actions {
      float: right;
      text-align: right; }
  .content-filter .filter-form {
    margin-top: 5px;
    position: relative;
    width: 100%; }
    .content-filter .filter-form label {
      font-weight: 500;
      font-size: 15px; }
    .content-filter .filter-form .filter-right {
      position: absolute;
      top: 0;
      right: 0;
      color: #878787; }
  .content-filter .filter-selections {
    padding-left: 5px; }
    .content-filter .filter-selections li {
      min-width: 120px; }
    .content-filter .filter-selections input[type='radio'] {
      transform: scale(1.5); }
    .content-filter .filter-selections input {
      margin-bottom: 15px; }

.results-wrapper {
  margin-top: 75px;
  width: 100%; }
  .results-wrapper .results-search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 100px;
    padding-bottom: 25px;
    border-bottom: 1px solid #878787; }
    .results-wrapper .results-search button {
      background-color: #C8DAEB;
      border-color: #578EC2;
      color: black; }
  .results-wrapper .results-title {
    padding: 15px; }

.results-content .result-card-dark {
  margin-bottom: 15px;
  border: 1px solid #878787;
  width: 100%; }
  .results-content .result-card-dark .card-title {
    background-color: #878787;
    padding: 10px 20px;
    height: 50px; }
    .results-content .result-card-dark .card-title .title {
      color: #F8C103;
      font-size: 22px;
      font-weight: 600; }
    .results-content .result-card-dark .card-title .card-actions {
      color: #CACACA;
      font-size: 22px;
      font-weight: 600; }
      .results-content .result-card-dark .card-title .card-actions span:hover {
        color: #fdfdfd;
        cursor: pointer; }
  .results-content .result-card-dark .card-info {
    border-bottom: 1px solid #878787; }
    .results-content .result-card-dark .card-info > div {
      padding: 15px 25px;
      height: 100%; }
    .results-content .result-card-dark .card-info .card-contact {
      border-right: 1px solid #878787; }
    .results-content .result-card-dark .card-info span {
      color: #A24741;
      font-weight: 500; }
      .results-content .result-card-dark .card-info span a {
        color: #A24741;
        font-weight: 500; }
    .results-content .result-card-dark .card-info .info-title {
      font-size: 18px;
      padding-bottom: 15px;
      border-bottom: 1px dotted #878787; }
    .results-content .result-card-dark .card-info .more-info {
      font-size: 14px;
      margin-bottom: 25px; }
  .results-content .result-card-dark .card-feed {
    background-color: #F9F9F9;
    padding: 20px 0;
    font-size: 14px; }
    .results-content .result-card-dark .card-feed .card-feed-main {
      overflow-y: scroll;
      height: 300px;
      width: 100%;
      padding-right: 15px; }
      .results-content .result-card-dark .card-feed .card-feed-main .card-post {
        min-height: 85px;
        padding: 10px 0;
        border-bottom: 1px dotted #878787; }
        .results-content .result-card-dark .card-feed .card-feed-main .card-post .card-post-left {
          font-weight: 500; }
          .results-content .result-card-dark .card-feed .card-feed-main .card-post .card-post-left span {
            color: #A24741;
            font-weight: 500; }
.results-content .result-card-light {
  margin-bottom: 15px;
  border: 1px solid #878787;
  width: 100%; }
  .results-content .result-card-light .card-title {
    background-color: #fff;
    border-bottom: 1px solid #878787;
    padding: 10px 20px;
    height: 50px;
    position: relative; }
    .results-content .result-card-light .card-title .title {
      font-size: 22px;
      font-weight: 600; }
      .results-content .result-card-light .card-title .title select {
        height: 30px;
        font-size: 12px;
        width: 150px;
        margin: 0; }
    .results-content .result-card-light .card-title .card-left-actions {
      display: inline-block;
      color: #CACACA;
      position: relative;
      font-size: 16px; }
      .results-content .result-card-light .card-title .card-left-actions .middle-button {
        border-left: 1px solid #878787;
        border-right: 1px solid #878787; }
      .results-content .result-card-light .card-title .card-left-actions button {
        display: inline-block;
        position: relative;
        font-size: 22px;
        width: 45px; }
        .results-content .result-card-light .card-title .card-left-actions button:hover {
          color: #878787;
          cursor: pointer; }
    .results-content .result-card-light .card-title .card-actions {
      color: #CACACA;
      font-size: 22px;
      font-weight: 600;
      position: relative;
      top: -2px; }
      .results-content .result-card-light .card-title .card-actions .view {
        border-color: #029AE5;
        color: #029AE5; }
        .results-content .result-card-light .card-title .card-actions .view:hover {
          background-color: #029AE5;
          color: #fff;
          cursor: pointer; }
      .results-content .result-card-light .card-title .card-actions .edit {
        border-color: #57D05C;
        color: #57D05C; }
        .results-content .result-card-light .card-title .card-actions .edit:hover {
          background-color: #57D05C;
          color: #fff;
          cursor: pointer; }
      .results-content .result-card-light .card-title .card-actions .group-right {
        display: inline-block;
        border-left: 1px solid #878787;
        padding-left: 6px; }
      .results-content .result-card-light .card-title .card-actions button {
        display: inline-block;
        position: relative;
        font-size: 18px;
        width: 33px;
        border: 1px solid #878787;
        border-radius: 50%;
        padding: 6px;
        margin: 0 3px; }
        .results-content .result-card-light .card-title .card-actions button:hover {
          color: #878787;
          cursor: pointer; }
  .results-content .result-card-light .card-info {
    border-bottom: 1px solid #878787; }
    .results-content .result-card-light .card-info > div {
      padding: 15px 25px;
      height: 100%; }
    .results-content .result-card-light .card-info .card-contact {
      border-right: 1px solid #878787;
      background-color: #F9F9F9; }
    .results-content .result-card-light .card-info span {
      color: #029AE5;
      font-weight: 500; }
      .results-content .result-card-light .card-info span a {
        color: #029AE5;
        font-weight: 500; }
    .results-content .result-card-light .card-info .info-title {
      font-size: 18px;
      padding-bottom: 5px;
      font-weight: 600; }
    .results-content .result-card-light .card-info .screening-status {
      border-bottom: 1px solid #878787; }
    .results-content .result-card-light .card-info .more-info {
      font-size: 14px;
      margin-bottom: 25px; }
  .results-content .result-card-light .last-contact {
    padding: 12px 15px;
    border-bottom: 1px solid #878787; }
    .results-content .result-card-light .last-contact span {
      color: #029AE5;
      font-weight: 500; }
  .results-content .result-card-light .card-feed {
    background-color: #F9F9F9;
    padding: 20px 0;
    font-size: 14px; }
    .results-content .result-card-light .card-feed .card-feed-main {
      overflow-y: scroll;
      height: 300px;
      width: 100%;
      padding-right: 15px; }
      .results-content .result-card-light .card-feed .card-feed-main .card-post {
        min-height: 85px;
        padding: 10px 0;
        border-bottom: 1px dotted #878787; }
        .results-content .result-card-light .card-feed .card-feed-main .card-post .card-post-left {
          font-weight: 500; }
          .results-content .result-card-light .card-feed .card-feed-main .card-post .card-post-left span {
            color: #029AE5;
            font-weight: 500; }

@media screen and (max-width: 39.9375em) {
  .results-wrapper .results-search {
    padding: 0; }

  .results-content .result-card-light .card-info .card-contact {
    border: 0; }

  .results-content .result-card-dark .card-info .card-contact {
    border: 0; } }
/**************************
GLOBALS
**************************/
.page-footer {
  background-color: #3C3C3C;
  padding: 15px;
  height: 50px;
  color: #878787; }

.content-wrapper {
  padding: 0 50px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.margin-bottom-5 {
  margin-bottom: 5px !important; }

.margin-top-5 {
  margin-top: 5px !important; }

.margin-left-5 {
  margin-left: 5px !important; }

.margin-right-5 {
  margin-right: 5px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-left-10 {
  margin-left: 10px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-left-15 {
  margin-left: 15px !important; }

.margin-right-15 {
  margin-right: 15px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-left-20 {
  margin-left: 20px !important; }

.margin-right-20 {
  margin-right: 20px !important; }

.margin-bottom-25 {
  margin-bottom: 25px !important; }

.margin-top-25 {
  margin-top: 25px !important; }

.margin-left-25 {
  margin-left: 25px !important; }

.margin-right-25 {
  margin-right: 25px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-left-30 {
  margin-left: 30px !important; }

.margin-right-30 {
  margin-right: 30px !important; }

.margin-bottom-35 {
  margin-bottom: 35px !important; }

.margin-top-35 {
  margin-top: 35px !important; }

.margin-left-35 {
  margin-left: 35px !important; }

.margin-right-35 {
  margin-right: 35px !important; }

.row.row-negative {
  margin-left: -.9375rem;
  margin-right: -.9375rem; }

.important-field {
  background-color: #CACACA; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.blue-select {
  background-color: #C8DAEB;
  border-color: #578EC2;
  color: black; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

select, input {
  border-color: #878787 !important; }

.full {
  width: 100%; }

button.radius, .button.radius {
  border-radius: 3px; }

button.round, .button.round {
  border-radius: 1000px; }

/**************************
QUERY
**************************/
@media screen and (max-width: 39.9375em) {
  .content-wrapper {
    padding: 0 25px; } }

/*# sourceMappingURL=styles.css.map */
