/***************
SASS VARIABLES
***************/

$insightMain: #3C3C3C;
$insightLightGray: #878787;
$insightImpGray: #CACACA;
$insightBlue: #578EC2;
$insightLightBlue: #C8DAEB;
$insightYellow: #F8C103;
$insightRed: #A24741;
$insightDefault: #F9F9F9;
$insightDefaultBlue: #029AE5;
$insightGreen: #57D05C;

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
}

a {
  color: $insightBlue;
}

.button {
  border-color: $insightBlue;
  color: $insightBlue;
}

.button.hollow {
  border-color: $insightBlue;
  color: $insightBlue;
}

/**************************
PARTIALS
**************************/

@import 'header';
@import 'navigation';
@import 'results';

/**************************
GLOBALS
**************************/
.content-wrapper {
  padding: 0 50px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

@for $i from 1 through 7 {
  .margin-bottom-#{$i*5} {
    margin-bottom: $i * 5px !important;
  }
  .margin-top-#{$i*5} {
    margin-top: $i * 5px !important;
  }
  .margin-left-#{$i*5} {
    margin-left: $i * 5px !important;
  }
  .margin-right-#{$i*5} {
    margin-right: $i * 5px !important;
  }
}

.row.row-negative {
  margin-left: -.9375rem;
  margin-right: -.9375rem;
}

.important-field {
  background-color: $insightImpGray;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.blue-select {
  background-color: $insightLightBlue;
  border-color: $insightBlue;
  color: black;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

select, input {
  border-color: $insightLightGray !important;
}

.full {
  width: 100%;
}

button.radius, .button.radius {
    border-radius: 3px; }
button.round, .button.round {
  border-radius: 1000px; }

/**************************
QUERY
**************************/

@media screen and (max-width: 39.9375em) {
  .content-wrapper {
    padding: 0 25px;
  }
}
